* {
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

a {
  color: inherit;
}

.flex {
  display: flex;
}

.flex-layout {
  display: flex;
  margin: 0 -15px;
}

.application {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
}

.page {
  margin-top: 69px;
  flex: 1;
}

.error-page {
  text-align: center;
  padding-top: 10vh;
}

.error-page__code {
  margin-top: 20px;
  color: #464646;
}

.error-page__description {
  margin: 20px auto;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
}

.header {
  height: 70px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 999999;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
}

.header__logo {
  margin: 0;
  line-height: 65px;
  font-size: 25px;
  font-weight: 700;
}

.header__avatar {
  width: 100%;
  display: block;
  cursor: pointer;
}

.header__avatar--wrapper {
  width: 38px;
  height: 38px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}

.header__navigation {
  text-align: right;
  line-height: 70px;
  vertical-align: top;
}

.header__navigation--item:not(.btn) {
  display: inline-block;
  font-family: Roboto;
}

.header__menu--item {
  line-height: 70px;
  font-size: 1em;
  color: #03A9F4;
  font-weight: 400;
  padding: 0 5px;
  font-size: 15px;
  font-family: Roboto;
}

.landing-section--description {
  padding: 60px 0;
}

.landing-section__image {
  width: 100%;
  margin-right: 30px;
}

.landing-section__image--wrapper {
  padding-right: 50px;
}

.landing-section__title {
  font-size: 4rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.landing-section__subtitle {
  margin-bottom: 20px;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}

.landing-section__buttons {
  text-align: center;
}

.landing-section__button {
  margin-top: 30px;
}

.login__text-block {
  text-align: center;
  padding-top: 20px;
}

.login__form {
  margin: auto;
  margin-top: 50px;
  max-width: 400px;
}

.login__field {
  box-shadow: inset 0 0 65em #FFF;
  display: block;
  width: 100%;
  padding: 20px 25px;
  border: 1px solid;
  border-color: #f5f5f5;
  border-radius: 2px;
  font-family: inherit;
  font-size: 15px;
  color: #282828;
  margin-bottom: 5px;
  transition: border-color 0.15s;
}

.login__field:focus {
  border-color: #03A9F4;
}

.login__buttons {
  text-align: center;
}

.login__button {
  margin-top: 10px;
}

.login__subtitle {
  margin: 30px auto;
  margin-bottom: 5px;
  max-width: 450px;
  font-size: 1.48rem;
}

.login__description {
  max-width: 400px;
  margin: auto;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.25rem;
}

.footer {
  padding: 20px 0;
  font-size: 13px;
}

.footer__navigation {
  flex: 1;
}

.footer__navigation--item {
  margin: 0 7px;
  color: #585858;
}

.footer__navigation--item:hover {
  color: #03A9F4;
}

.form__responser {
  position: relative;
  height: 0;
  transition: height 0.15s;
}

.form__response {
  text-align: center;
  display: block;
  color: #FFF;
  padding: 15px 25px;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 5px;
}

.form__response.success {
  background: #5ccc61;
}

.form__response.error {
  background: #F44336;
}

.card {
  background: #FFF;
  margin: 15px 0px;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.sidebar__control {
  padding: 15px 0;
}

.sidebar__divider {
  height: 1px;
  border: 0;
  background: #f6f6f6;
  margin: 10px 25px;
}

.sidebar__avatar {
  width: 100%;
  display: block;
}

.sidebar__control--link {
  display: block;
  line-height: 2.2em;
  padding: 0 25px;
  font-family: Roboto;
}

.sidebar__control--link.main-button {
  font-weight: 500;
}

.sidebar__control--link.active {
  color: #03A9F4;
}

.sidebar__control--link:hover {
  background: #fcfcfc;
}

.feed {
  padding: 25px;
  padding-top: 15px;
}

.feed__title {
  margin: 0;
  line-height: 2.7em;
  font-size: 1.2em;
  margin-bottom: 15px;
  color: #03A9F4;
}

.post__flex {
  height: 150px;
  display: flex;
}

.post.single {
  padding: 10px;
  height: auto;
  transition: box-shadow 0.15s;
  background: #FFF;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
}

.post.single:hover {
  box-shadow: 0 10px 7px 0 rgba(0, 0, 0, 0.07), 0 4px 7px 0 rgba(0, 0, 0, 0.09);
}

.post.single .post__title {
  font-size: 24px;
  line-height: 2em;
}

.post.single .post__description {
  font-size: 16px;
}

.post.single .post__img {
  max-width: 150px;
  height: auto;
}

.post__rating {
  color: grey;
  font-family: Roboto;
  font-size: 14px;
  padding-bottom: 7px;
}

.post__button {
  display: inline-block;
  border: 1px solid #03A9F4;
  width: 80px;
  color: #03A9F4;
  text-align: center;
  border-radius: 4px;
  line-height: 25px;
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  transition: background 0.15s, color 0.15s;
}

.post__button:hover {
  background-color: aliceblue;
}

.post__button:active {
  background: #03A9F4;
  color: #FFF;
}

.post__description--title {
  font-size: 15px;
  font-weight: 400;
  font-family: Roboto;
  margin-top: 15px;
  display: inline-block;
}

.rating-star {
  color: #ffce07;
  padding-right: 5px;
}

.post__img {
  height: 100%;
  border-radius: 2px;
  width: auto !important;
}

.post__text {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px;
  padding-bottom: 0;
}

.post__description {
  margin: 10px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
}

.post__title {
  margin: 0;
  font-size: 18px;
  transition: color 0.15s;
}

.post__title:hover {
  color: #03A9F4;
}

.post__author {
  color: #939393;
  font-size: 14px;
}

.post__tags {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.post__tag {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  transition: color 0.15s;
}

.post__tag:hover {
  color: rgba(0, 0, 0, 0.6);
}

.publication {
  padding: 25px;
  margin: 15px;
}

.publication__title {
  margin: 0;
  text-align: center;
}

.publication__description {
  font-size: 18px;
  margin-top: 5px;
  font-family: Roboto;
  line-height: 1.7;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.publication__type {
  margin-top: 15px;
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.publication__content {
  margin-top: 5px;
  white-space: pre-wrap;
  word-wrap: unset;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.8);
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 2px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transition: background 0.15s;
}

.owl-dot.active {
  background: rgba(0, 0, 0, 0.5);
}

.publication-img--wrapper {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 0;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.publication-img {
  width: 100%;
  display: block;
}

.publication-author {
  margin-top: 0;
  margin-bottom: 5px;
}

.publication-author__img--wrapper {
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin: 15px;
}

.publication-author__img {
  height: 100%;
}

.publication-author__name {
  margin: 0;
  margin-top: 19px;
  font-size: 1em;
}

.publication-author__subscribers {
  margin: 2px 0;
  color: grey;
  font-size: 14px;
}

.request-response--wrapper {
  line-height: 4.5em;
  text-align: center;
  margin-top: 15px;
}

.request-response {
  font-size: 1.3em;
}

.request-response b {
  font-weight: inherit;
  color: #03A9F4;
}

.tag-responses {
  padding: 15px;
}
